{% extends 'base_admin.html.twig' %}

{% block title %}Liste des catégories!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Les Tables</mark></h1>
</div>

{% endblock %}