{% extends 'base_admin.html.twig' %}

{% block title %}Liste des tables!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Les Tables</mark></h1>
    <a href="{{ path('home') }}" class="btn btn-info">Retour au menu principale</a> 
</div>

{% endblock %}