{% extends 'base.html.twig' %}

{% block title %}Liste des catégories!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <section class='categories'>
        {%for category in categories %}
        <category>
            <ul>
                <li>
                    <h3>{{category.content}}</h3>
                    <p>{{ category.description }}</p>
                </li>
            </ul>
        </category>
        {% endfor%}
    </section>
</div>
{% endblock %}