{% extends 'base.html.twig' %}

{% block title %}Liste des catégories associées!{% endblock %}

{% block body %}

<div class = "jumbotron">
    
    <category>
        <h1>{{ category.title }}</h1>
        <h2>{{ category.content }}</h2>
        
    </category>
</div>
</div>
    <section class="articles">
        <div>
             {% for article in category.articles %}
                <p>{{ article.title }}</p>
            {% endfor %}   
        </div>
    </section>
</div>

{% endblock %}